<div width="100%" class="main-container">
    <div class="site-title arsenal-medium">
        Tricky English Blog
    </div>
    <hr>
    <div class="announce">
        Я уже скоро пять лет как веду этот блог, посвящённый разговорному английскому на разных блог-платформах, таких
        как
        <a href="https://dzen.ru/tricky_english">Дзен</a>, Пульс, <a
            href="https://boosty.to/tricky_english/posts/ed48ea91-eff1-4516-a798-4ed612fc9849?locale=ru_RU">Boosty</a>
        или
        <a href="https://trickyenglish.substack.com/">Substack</a> и теперь, наконец, решил создать собственный сайт.
        Работа ещё не доделана, но уже можно записаться на закрытое или общедоступное тестирование или просто дать нам
        возможность уведомить вас, когда всё будет готово.
    </div>
    <div>
        <app-tu-form></app-tu-form>
    </div>
</div>