<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/img/fav/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link
    href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/tricky-dev.css">
  <title>Tricky English</title>
</head>

<body>
  <div width="100%" class="main-container">
    <div class="site-title arsenal-medium">
      Tricky English Blog
    </div>
    <hr>
    <div class="announce">
      Я уже скоро пять лет как веду этот блог, посвящённый разговорному английскому на разных блог-платформах, таких как <a href="https://dzen.ru/tricky_english">Дзен</a>, Пульс, <a href="https://boosty.to/tricky_english/posts/ed48ea91-eff1-4516-a798-4ed612fc9849?locale=ru_RU">Boosty</a> или <a href="https://trickyenglish.substack.com/">Substack</a> и теперь, наконец, решил создать собственный сайт. Работа ещё не доделана, но уже можно записаться на закрытое или общедоступное тестирование или просто дать нам возможность уведомить вас, когда всё будет готово.
    </div>
    <app-test-user-form></app-test-user-form>
  </div>
</body>

</html>