<p-panel width="60%">
    <form [formGroup]="formModel" class="t-user-form" (ngSubmit)="onSubmit()">
        <div formGroupName="versionSelect" class="checkbox-list" (change)="checkBoxClicked($event)">
            <p-checkbox>
                
            </p-checkbox>
        </div>
        <div formGroupName="emailGroup" class="emailSection">
            <input type="text" class="p-input-text-lg" pInputText formControlName="email" placeholder="Ваш электронный адрес..."
                required="true" (input)="onEmailInput($event)"><br><br>
            <div>
                <p-button color="#6e0a69" label="Зарегистрироваться" class="signupBtn" (click)="onSubmit()"></p-button>
            </div>
        </div>
    </form>
</p-panel>