.checkbox-list{
    font-size: clamp(9pt, 10pt, 11pt);
    display: inline;
    padding: 20px 10px;
}

.checkbox-section {
    margin: 0.5vh 1vw;
    background-color: #fff8d2;
    border-radius: clamp(1vw, 1.5vw, 2vw);
}

.signupBtn {
    margin: 6vh;
    color: #6e0a69;
}

.mSpan {
    margin: 1px 2px;
    font-size: 10pt;
}

.emailInput {
    font-size: clamp(10pt, 12pt, 14pt);
    padding: 0.5vh 2vw;
    margin: auto;
}

.emailSection {
    padding-top: 2vh;
}

.signupBtn:hover {
    background-color: #6e0a69;
    color: #fff8d2;
}

input[name="email"] {
    margin: 10px 4px 2px 4px;
}