.checkbox-list{
    font-size: clamp(9pt, 10pt, 11pt);
    display: inline;
    padding: 20px 10px;
}

.checkbox-section {
    margin: 2vh 1vw;
    align-items: stretch;    
    background-color: #fff8d2;
    border-radius: 16px;
}

.signupBtn {
    margin: 6vh;
    color: #6e0a69;
}

.mSpan {
    margin: 3px;
}

.emailInput {
    font-size: clamp(10pt, 12pt, 14pt);
    padding: 0.5vh 2vw;
    margin: auto;
}

.signupBtn:hover {
    background-color: #6e0a69;
    color: #fff8d2;
}