<form class="paper-form" [formGroup]="emailControl" (ngSubmit)="onSubmit()">
    <div class="cut-input">
        <input formControlName="email" type="text" placeholder="email" (focus)="emailControl.markAsTouched()"
            [class.valid]="emailControl.valid && emailControl.touched" />
    </div>

    <div class="switch-container">
        <mat-slide-toggle color="primary" [checked]="switchPosition === 'alpha'"
            (change)="onSwitchChange($event.checked ? 'alpha' : 'release')">
            Alpha
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="switchPosition === 'beta'"
            (change)="onSwitchChange($event.checked ? 'beta' : 'release')">
            Beta
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="switchPosition === 'release'"
            (change)="onSwitchChange($event.checked ? 'release' : 'release')">
            Release
        </mat-slide-toggle>
    </div>

    <button mat-raised-button color="primary" [disabled]="!isFormValid">Submit</button>
</form>