/* font-family: 'Arsenal', sans-serif; */
/* font-family: 'Spectral', serif */

:root {
  --main-blue: #101a79;
  --txt: #242424;
  --ok: #004113;
  --not-ok: #da0000;
  --paper: #fff8d2;
  --paper-transparent: rgba(255, 248, 210, 0.7);
  --paper-shadow: #e0d9ad;
}

body {
  padding: 3px;
  font-size: clamp(10pt, 2vw, 16pt);
  font-family: "Arsenal", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  display: block;
}

hr {
  background-color: var(--main-burgundy);
  height: 8px;
  border: none;
  border-radius: 3px;
  width: 80%;
}

a {
  color: var(--main-burgundy);
  font-size: inherit;
}

.img-container {
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 320px;
  border: 5px solid;
  border-color: var(--paper-shadow);
  margin: auto;
}

.img-cropped {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container {
  text-align: center;
  height: 100%;
  margin: auto;
}

.container {
  text-align: center;
  height: 100%;
  margin: auto;
}

.site-title {
  font-size: clamp(24pt, 8vw, 60pt);
  color: var(--main-burgundy);
  padding-top: 10vh;
  padding-bottom: 4vh;
}

.announce {
  max-width: 75%;
  margin: auto;
  padding-bottom: 10px;
}

.email {
  color: #101a79;
}

.icon-big {
  font-size: 250px;
  color: var(--not-ok);
}

/* Media query for screens with a maximum width of 600 pixels */
@media only screen and (max-width: 600px) {
  hr {
    height: 2px;
    border-radius: 1px;
  }

  .main-container .container {
    width: 100%;
  }

  .site-title {
    padding-top: 6vh;
    padding-bottom: 1vh;
  }
}

/* Media query for screens with a minimum width of 601 to 1024 pixels */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  hr {
    height: 4px;
    border-radius: 1px;
  }

  .main-container {
    width: 80%;
  }

  .container {
    width: 90%;
  }

  .site-title {
    padding-top: 8vh;
    padding-bottom: 2vh;
  }
}

/* Media query for screens with a minimum width of 1025 to 1600 pixels */
@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  hr {
    height: 6px;
    border-radius: 2px;
  }

  .main-container {
    width: 60%;
  }

  .container {
    width: 80%;
  }
}

/* Media query for screens with a minimum width of 1025 to 1600 pixels */
@media only screen and (min-width: 1601px) {
  .main-container {
    width: 55%;
  }

  .container {
    width: 70%;
  }
}

.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-regular-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-bold-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}